* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

.main-container {
    height: 100%;
    display: flex;
}

#navbar {
    border: 1px solid wheat;
    border-radius: 60px;
    height: 50vh;
    width: 5vw;
    margin: 3rem 0 3rem 3rem;
    padding: 1rem;
}

#list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}

.list-items {
    color: aliceblue;
    text-decoration: none;
    list-style: none;
}